#details{
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 0;
    box-shadow: none;
}



.parentDiv{
    display: flex;
    justify-content: space-evenly;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.childDiv{
    width: 35%;
}


h1 {
    color: #333;
}
p {
    font-size: 16px;
    color: #333;
}
h2{
    color: #555; /* Example color for h2 */
    font-size: 20px;
}

